/* kufam-regular - latin */
@font-face {
  font-family: 'Kufam';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('./fonts/kufam-v2-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./fonts/kufam-v2-latin-regular.woff')
      format('woff'); /* Modern Browsers */
}
/* spartan-200 - latin */
@font-face {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 200;
  src: local(''), url('./fonts/spartan-v2-latin-200.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('./fonts/spartan-v2-latin-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* spartan-regular - latin */
@font-face {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('./fonts/spartan-v2-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('./fonts/spartan-v2-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* spartan-500 - latin */
@font-face {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 500;
  src: local(''), url('./fonts/spartan-v2-latin-500.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('./fonts/spartan-v2-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
